/* Retirer les décorations navigateur */
*{
	margin: 0;
	padding: 0;
}

/* media query - mobile et tabeltte */
@media screen and (max-width: 850px)
{
	/* Stucture de la page */
	section{
		display:flex;
		flex-direction: column;
	}
	/* I. partie droite et blanche de la page */
	/* 1. DIV principal */
	#content1{
		margin-left: 0;
	}
	/* II. Partie gauche et jaune de la page */
	/* 1. DIV principal */
	#content2{
		background-color: rgb(253,216,53);
		text-align: center;
		position: relative;
		width: 100%;
		font-size: 14px;
	}

}

/* media query - ordi */
@media screen and (min-width: 850px)
{	
	/* I. partie droite et blanche de la page */
	/* 1. DIV principal */
	#content1{
		position: relative;
		right: 0;
		width: 70%;
		margin-left: 27%;
	}
	/* II. Partie gauche et jaune de la page */
	/* 1. DIV principal */
	#content2{
		background-color: rgb(253,216,53);
		text-align: center;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 25%;
		height: height:100pt;overflow:auto;
		font-size: 14px;
	}
}

/* Stucture de la page */
section{
	background-size: cover;
	height: 100vh;
	font-family: 'Indie Flower', cursive;
}

/* I. partie droite et blanche de la page */
/* 1. Titre */
header{
	padding: 6%;
	text-align: center;
}

header h1{
	font-size: 60px;
}

header h2{
	font-size: 40px;
}

#ecritEnJaune{
	color: rgb(253,216,53);
}

#surligneEnJaune{
	text-decoration:underline;
	text-decoration-color: rgb(253,216,53); 
}

/* 2. Block formation/ expérience / compétence */
article h2{
	font-size: 30px;	
}

/* 2.1 ligne jaune entre chaque block */
article hr{
  height: 4px;
  background-color: rgb(253,216,53);
  border: none;
  margin-bottom: 2%;
}

/* 2.2 Image en bout de titre */
.fas{
	color: rgb(253,216,53);
}

.far{
	color: rgb(253,216,53);
}

/* 2.3 Stucture de chaque partie de la liste */
li{
	display: flex;
}

.date{
	flex: 1;
	text-align: center;
}

.information{
	flex: 2;
}

/* II. Partie gauche et jaune de la page */
/* 1. titres des blocks*/
.info h2{
	background-color: rgb(55,71,79);
	color: rgb(253,216,53); 
}

/* 2. mise en forme des blocks */
.info p{
	padding: 0.5%;
}

.info img{
	padding: 1%;
}

/* 2.1 liens mail */
.info a{
	color: rgb(55,71,79);
	border: 2px solid rgb(55,71,79);
	border-radius: 15px;
	padding: 1%;
	transition: ease 2s;
	text-decoration: none;
}

.info a:hover{
	color: White;
	background-color: rgb(55,71,79);
}

/* 3. Photo de profil */
#photoProfil{
	border-radius: 50%;
	padding: 2%;
}